.button {
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
  }

.green-btn{
    border: none;
    background-color: #25D952;
    color: white;
}

.blue-btn {
  border: none;
  background-color: #327AD9;
  color: white;
}

.red-btn {
  border: none;
  background-color: #F23869;
  color: black;
}

.click-btn:hover{
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.click-btn:active{
  box-shadow: none;
}

.grid10{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#gridtest{
 width: 1000px;
 height: 1000px;
}


input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
   background-color: #F0F3F7;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.form{
  color: #97A8BD;
  width: auto;
  margin: 5px;
  background-color: #D9E1EA;
  padding-left: 15%;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form>h1{
  color: #364862
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  display: inline-block;
  width: 50%;
}


.input {
 
  color: #97A8BD;
  border: none;
  margin: 2px;;
  padding-right: 5px;
}

.navbar{
  position: fixed;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

#showoff {
  width: 500px;
  height: 500px;
}

#SQ1{
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

#top{
  margin-top: 50px;
}