.button {
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
  }

.green-btn{
    border: none;
    background-color: #25D952;
    color: white;
}

.blue-btn {
  border: none;
  background-color: #327AD9;
  color: white;
}

.red-btn {
  border: none;
  background-color: #F23869;
  color: black;
}

.click-btn:hover{
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
..click-btn:active{
  box-shadow: none;
}

.form {
  background-color: #D9E1EA;
  color: #374862;
  border-radius: 2px;
}

in