.btn {
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}

.btn-blue{
    color: white;
    background-color: dodgerblue;
    border: none;
}

.btn-red{
    color: white;
    background-color: #F20574;
    border: none;
}

.btn-back{
    color: dodgerblue;
    background-color: white;
    border: 1px solid dodgerblue;
}

.click:hover{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

.click:active{
    box-shadow: none;
}

.bruce {
    background-image: radial-gradient(circle, #147dd9, #0089df, #0095e4, #00a1e8, #12aceb);
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.bruce * {
    font-size: 75px;;
}

.quotestrapwhite {
    display: flex;
    border: 5px solid white;
    align-content: center;
    margin: auto auto;
    padding: 35px 35px;
    background-color: darkslategray;
    color: white;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed; 
    overflow: auto; 
  }
  
  .navbar a {
    color: #000;
    text-decoration: none;
    width: 60px;
  }
  
  .navbar li:hover {
    background-color: #4CAF50;
    color: white;
  }

  .active {
    background-color: #4CAF50;
    color: white;
  }
  .navbar li{
      height: auto;
      padding: 8px;
  }

  .rafgrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      background-color: darkslategrey;
  }

  #grid{
      width: 500px;
      height: 500px;
  }

  #SQ1 {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 4;
      grid-column-end: 7;
      background-color: dodgerblue;
  }
  #SQ2{
        grid-row-start: 5;
        grid-row-end: 8;
        grid-column-start: 4;
        grid-column-end: 7;
        background-color: dodgerblue;
  }