$dangerred: F20574;
$buttonborder: none;
$clickshadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
$gradient: linear-gradient(to right, rgba(22,43,162,1) 0%, rgba(32,124,229,1) 100%);
$formback:  #324359;
$formfield: #F0F3F7;
$capblue: #162CA2;


.btn {
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}


.btn-blue{
    color: white;
    background-color: $capblue;
    border: $buttonborder;
}

.btn-red{
    color: white;
    background-color: $dangerred;
    border: $buttonborder;
}

.btn-back{
    color: $capblue;
    background-color: white;
    border: 1px solid $capblue;
}

.click:hover{
    box-shadow: $clickshadow
}

.click:active{
    box-shadow: none;
}

.bruce {
    padding: 1vw;
    background-image: $gradient;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    * {
        font-size: 70px;
    }
}

@mixin quotestrap {

    display: flex;
    margin: auto auto;
    padding: 35px 35px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    font-size: 25px;
    

}

.quotestrapwhite {
    @include quotestrap;
    border: 5px solid white;
    color: white;
}

.quotestrapblack{
    @include quotestrap;
    border: 5px solid black;
    color: black;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed; 
    overflow: auto; 
    a{
        color: #000;
    text-decoration: none;
    width: 60px;
    }
    li:hover {
        background-color: #4CAF50;
        color: white;
      }
      .active {
        background-color: #4CAF50;
        color: white;
    }
    li{
        height: auto;
        padding: 8px;

  }
}

.rafgrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      background-color: darkslategrey;
  }
.rafform{
      padding: 1vw;
      background-color:$formback;
      color: #F0F3F7;
      margin-top: 5px;
   input{
      background-color: #D9E1EA;
      color: $formback;
      border: none;
      border-radius: 1px;
      margin-bottom: 1vw;
  }
}

.rafcode {
      background-color: black;
      position: relative;
      color: green;
      font-family: 'Courier New', Courier, monospace;
      left: 20vw;
  }


.titles{
      background-color: $capblue;
      font-family: 'Poppins', sans-serif;
      color: white;
      position: relative;
      left: 20vw;
      padding: 1vw;

  }

#form {
      position: relative;
      left: 21vw;
  }

.square {
    background-color: $capblue;
    color: white;
    align-content: center;
    text-align: center;
    padding: 1vw;
}


  #SQ1 {
    @extend .square;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    padding: auto;
    padding-top: 2vw;
    
}

#SQ2{
    @extend .square;
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 6;
    grid-column-end: 9;
    padding: auto;
    padding-top: 2vw;
}

#quotes {
    position: relative;
    left: 10vw;
    margin: auto auto;
    padding: 35px 35px;
    width: 50vw;
    background-color: $capblue;
}
